/* section#contact-us .wrap {
  text-align: center;
  max-width: 500px;
  margin: auto;
}
section#contact-us .cont-first {
  font-size: 10px;
  letter-spacing: 2px;
  color: #ff7d04;
  text-transform: uppercase;
}
section#contact-us .cont-title {
  font-size: 50px;
  margin: 24px 0;
  font-weight: 600;
}
section#contact-us .colored {
  color: #027e02;
}
section#contact-us .cont-text {
  color: bisque;
  line-height: 1.5;
  margin-bottom: 35px;
  font-size: 15px;
}
section#contact-us .btns {
  display: flex;
  gap: 16px;
  margin-bottom: 22px;
  justify-content: center;
}
section#contact-us .join-btn {
  background: #ff7d04;
  color: white;
  border-radius: 15px;
  padding: 12px 22px;
  cursor: pointer;
}
section#contact-us .email-btn {
  border: 1px solid rgb(88, 54, 2);
  border-radius: 10px;
  color: rgb(241, 238, 238);
  background: transparent;
  cursor: pointer;
  padding: 12px 22px;
}
section#contact-us .links {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 32px;
}
section#conatact-us .link-btn {
  border: 1px solid rgb(56, 52, 52);
  padding: 10ox 18px;
  color: whitesmoke;
  border-radius: 10px;
  font-size: 15px;
}
section#contact-us .link-btn:hover {
  background: rgba(54, 37, 37, 0.064);
}
section#contact-us .last-note {
  font-size: 15px;
  color: rgb(205, 174, 133);
}*/
.footer-section {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: center;
}
.footer-text {
  height: 50%;
  text-align: center;
  margin-top: 8%;
  border-radius: 12px;
  border-color: antiquewhite;
}
.footer-text p {
  font-style: oblique;
  color: orangered;
  text-align: center;
}
.footer-text h1 {
  font-size: 60px;
  margin-top: 10%;
}
.footer-box {
  border-color: #ef4444;
  display: flex;
  gap: 30px;
}
.footer-box {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 40%;
  gap: 20px;
}
.apply-button {
  margin-top: 20%;
  border-radius: 8px;
  background-color: #ef4444;
  height: 50px;
  width: 180px;
  border: 2px solid;
  border-color: #ef4444;
}
.email-button {
  margin-top: 20%;
  border-radius: 8px;
  height: 50px;
  border: 2px solid;
  width: 180px;
  border-color: #ef4444;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-content {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 70%;
  gap: 45px;

  border: 2px solid;
  border-radius: 8px;
  margin-top: 40px;
}
.social-content a {
  text-align: center;
  padding: 4%;
  border: 2px solid;
  border-radius: 8px;
}
