section#events {
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

section#events .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

section#events .badge {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

section#events .badge.upcoming {
  background-color: #ff9800;
}

section#events .badge.registration {
  background-color: #e67e22;
}

section#events .image-box {
  position: relative;
  height: 250px;
}

section#events .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section#events .header {
  text-align: center;
}

section#events .title .subtitle {
  color: #4caf50;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

section#events .cards-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

section#events .card {
  width: 35%;
  border: 1px solid rgb(var(--theme-text), 0.15);
  transition:
    transform 0.3s ease,
    border-color 0.3s ease;
  overflow: hidden;
}

section#events .card:hover {
  transform: translateY(-10px);
}

section#events .card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
}

section#events .card-content h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
}

section#events .card-content p {
  color: rgb(var(--theme-text-secondary));
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 25px;
}

section#events .details {
  list-style: none;
  font-size: 14px;
  padding: 0;
}

section#events .details li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

section#events .learn-more {
  color: rgb(var(--color-secondary));
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

section#events .learn-more:hover {
  text-decoration: underline;
}

@media (max-width: 1028px) {
  section#events .cards-grid {
    flex-direction: column;
  }

  section#events .card {
    width: 100%;
  }

  section#events .card-content p {
    display: none;
  }
}

@media (max-height: 1300px) {
  section#events .header .description,
  section#events .card-content p {
    display: none;
  }

  section#events {
    gap: 20px;
  }

  section#events .image-box {
    height: 150px;
  }
}

@media (max-height: 1000px) {
  section#events {
    justify-content: flex-start;
    padding-top: 4rem;
  }

  section#events .card-content {
    padding: 1rem;
  }
}
