header {
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  background: rgb(var(--theme-background));
  border-bottom: 1px solid rgb(var(--theme-text), 0.1);
}

header.header-hidden {
  display: none;
}

header div {
  display: flex;
  align-items: center;
}

header .logo {
  background-image: var(--gradient-secondary);
  border-radius: 15px;
  padding: 0.25rem;
  margin-right: 0.5rem;
}

header .name {
  display: flex;
  flex-direction: column;
  align-items: start;
}

header .name span {
  font-family: "roboto";
  color: rgb(var(--theme-text-secondary));
}

header div a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  background-image: var(--gradient-primary);
  padding: 0.75rem 1rem;
  margin-right: 0.5rem;
  border-radius: 15px;
}

header #theme {
  background: transparent;
  border: none;
  display: flex;
  color: rgb(var(--theme-text));
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 99px;
  margin-left: 0.5rem;
}

header #theme:hover {
  background: rgb(var(--theme-text), 0.1);
}

@media (max-width: 460px) {
  header {
    padding: 1rem;
  }
  header .logo {
    padding: 0.25rem;
    margin-right: 0.25rem;
  }
  header .logo svg {
    width: 30px;
    height: 30px;
  }

  header .name {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  header .name h2 {
    font-size: 18px;
  }

  header .name span {
    font-size: 12px;
  }

  header div a {
    font-size: 12px;
    font-weight: 500;
    padding: 0.75rem 1rem;
    margin-right: 0.25rem;
  }

  header #theme {
    padding: 0.25rem;
    margin-left: 0.25rem;
  }
}
