section#home-page .container {
  flex-direction: row;
}

section#home-page .container .header {
  gap: 2.5rem;
  flex: 1;
  text-align: start;
  align-items: start;
}

section#home-page .container .header .subtitle {
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  font-weight: 400;
  width: 90%;
}

section#home-page .container .header .nav-btns {
  display: flex;
  gap: 20px;
}

section#home-page .container .header .nav-btns a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1rem 2rem;
  border-radius: 25px;
  text-wrap: nowrap;
  font-weight: 400;
}

section#home-page .container .header .nav-btns a:nth-child(1) {
  font-weight: 600;
  background-color: rgb(var(--theme-text));
  color: rgb(var(--theme-background));
}

section#home-page .container .header .nav-btns a:nth-child(1):hover {
  scale: 1.05;
}

section#home-page .container .header .nav-btns a:nth-child(2) {
  background-color: rgb(var(--theme-background));
  border: 2px solid rgb(var(--theme-text), 0.25);
}
section#home-page .container .header .nav-btns a:nth-child(2):hover {
  background-color: rgb(var(--theme-text), 0.025);
}

section#home-page .container .header .reputation {
  color: rgb(var(--theme-text-secondary));
  font-weight: 500;
  font-size: 0.875rem;
  border: none;
  border-top: 1px solid rgb(var(--theme-text), 0.15);
  padding-top: 20px;
  margin-top: 20px;
  opacity: 0.8;
  width: 90%;
}

section#home-page .container .header .reputation > div {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0.25rem;
  margin-top: 0.5rem;
}

section#home-page .container .header .reputation > div div {
  display: flex;
  align-items: center;
  gap: 5px;
}

section#home-page .container .header .reputation > div span {
  color: rgb(var(--theme-text-secondary));
  font-weight: 800;
}

section#home-page .container .header .reputation > div img {
  opacity: 0.8;
}

section#home-page .image {
  flex: 1;
  position: relative;
  padding: 2rem;
  background-color: transparent;
  backdrop-filter: blur(45px);
  border-radius: 60px;
}
section#home-page .image .background-bubble {
  position: absolute;
  top: 17%;
  left: -15%;
  background-image: linear-gradient(
    to top right,
    rgba(255, 127, 0, 0.2),
    rgba(0, 168, 89, 0.2)
  );
  filter: blur(54px);
  width: 80%;
  height: 80%;
}
section#home-page .image img {
  border: 1px solid rgb(var(--theme-text), 0.05);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.144);
  border-radius: 20px;
  width: 100%;
  height: auto;
}

@media (max-width: 1028px) {
  section#home-page .image {
    display: none;
  }

  section#home-page .container .header {
    gap: 1rem;
    align-items: center;
    text-align: center;
  }

  section#home-page .container .header .subtitle {
    margin: 1rem 0;
  }
  section#home-page .container .header .reputation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 642px) {
  section#home-page .container .header .nav-btns {
    flex-direction: column;
    width: 100%;
  }

  section#home-page .container .header .nav-btns a:nth-child(1):hover {
    scale: 1;
  }
}

/* @media (max-height: 980px) and (max-width: 484px) {
  section#home-page section {
    padding-top: 4rem;
  }
}

@media (max-height: 664px) {
  section#home-page .title {
    font-size: clamp(2.5rem, 2vh + 1rem, 3.5rem);
  }
  section#home-page .image,
  section#home-page .container .header .tag,
  section#home-page .container .header .reputation {
    display: none;
  }
}

@media (max-height: 423px) {
  section#home-page .title {
    display: none;
  }
} */
