#our-team .container {
  flex-direction: column;
  gap: 40px;
}

#our-team .header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 18px;
}

#our-team .team-grid {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#our-team .card {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 10px;
}

#our-team .pfp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: rgb(var(--color-secondary), 0.05);
  border-radius: 50%;
  color: rgb(var(--color-secondary));
  font-size: 20px;
  font-weight: bold;
  border: 2px solid;
}

#our-team .team-grid .h2 {
  padding-top: 100px;
}

#our-team .role {
  color: rgb(var(--color-secondary));
  font-size: 14px;
  margin: 8px 0;
}

#our-team .bio {
  color: #a1a1aa;
  font-size: 15px;
  margin-bottom: 20px;
}

#our-team .social-media {
  display: flex;
  justify-content: center;
  gap: 25px;
}

#our-team .social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(var(--theme-text), 0.25);
  border-radius: 99px;
  padding: 0.5rem;
}
