* {
  box-sizing: border-box;
  border-width: 0;
  padding: 0;
  margin: 0;
  user-select: none;
}

:root {
  --theme-text: 0, 0, 0;
  --theme-text-secondary: 71, 85, 105;
  --theme-background: 248, 250, 252;

  --color-primary: 255, 127, 0;
  --color-secondary: 0, 168, 89;
  --gradient-secondary: linear-gradient(
    to right,
    rgb(var(--color-primary)),
    rgb(var(--color-secondary))
  );
  --gradient-primary: linear-gradient(
    to right,
    rgb(var(--color-primary)),
    #ef4444
  );
}

:root.dark {
  --theme-text: 255, 255, 255;
  --theme-text-secondary: 203, 213, 225;
  --theme-background: 15, 23, 42;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  background: rgb(var(--theme-background));
  background-image: radial-gradient(#cbd5e1da 1px, transparent 1px);
  background-size: 40px 40px;
}

.dark body {
  background-image: radial-gradient(#cbd5e121 1px, transparent 1px);
}

.theme {
  color: #fff;
  fill: #fff;
}

.dark .theme {
  color: #000;
  fill: #000;
}

::-webkit-scrollbar {
  width: 10px;
  background: rgb(var(--theme-text), 0.25);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(33, 37, 41, 0.45);
}

button,
input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

span,
h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  color: rgb(var(--theme-text));
}

:after,
:before,
button,
form,
select,
input,
strong,
p,
a,
li {
  text-decoration: none;
  color: rgb(var(--theme-text));
}

.visible {
  display: flex;
}

.hidden {
  display: none!important;
}

.tighter-text {
  letter-spacing: -0.5px;
  font-stretch: condensed;
}

main {
  width: min(1236px, 100%);
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
   gap: 2rem;
   width: 100%;
}

.container .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 18px;
}

.container .header .title {
  font-size: clamp(3.5rem, 3vw + 1rem, 5rem);
  line-height: 1;

}

.container .header .tag {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 0.35rem 0.75rem;
  border-radius: 99px;
  background-color: rgb(var(--color-secondary), 0.1);
  border: 1px solid rgb(var(--color-secondary));
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
}

.container .header .tag span {
  color: rgb(var(--color-secondary));
}

.container .header .tag .dot {
  width: 8px;
  height: 8px;
  background-color: rgb(var(--color-secondary));
  border-radius: 9999px;
}

.container .header .highlight {
  margin-right: 4%;
  background-image: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container .header .subtitle {
  color: rgb(var(--theme-text-secondary));
}


.snap-container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.snap-section {
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
  overflow-y: hidden;
}

#navigator {
  position: absolute;
  right: 10px;
  top: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  z-index: 20;
}

#navigator a {
  width: 12px;
  height: 12px;
  background-color: rgb(var(--theme-text), 0.52);
  border-radius: 100%;
}

#navigator a.checked {
  width: 15px;
  height: 15px;
  background-color: rgb(var(--color-primary));
}

.card {
  display: flex;
  flex-direction: column;
  background: rgb(var(--theme-background));
  border: 2px solid rgb(var(--theme-text), 0.05);
  border-radius: 20px;
}

.bg-touch-1 {
  position: fixed;
  bottom: -80px;
  left: -100px;
  width: 500px;
  height: 500px;
  background: rgb(16 185 129 / 0.1);
  border-radius: 9999px;
  filter: blur(54px);
  z-index: 10;
  pointer-events: none;
}

.bg-touch-2 {
  position: fixed;
  top: -100px;
  right: -100px;
  width: 400px;
  height: 450px;
  background: rgb(var(--color-primary));
  opacity: 0.1;
  border-radius: 9999px;
  filter: blur(54px);
  z-index: 10;
  pointer-events: none;
}

svg {
  pointer-events: none;
  fill: rgb(var(--theme-text));
}


@media (max-width: 1260px) {
 
}

@media (max-width: 1028px), (max-height: 1082px) {
  #navigator {
    display: none;
  }

  .snap-section {
    padding-top: 2rem;
    padding-bottom: 8rem;
  }

  .snap-section:nth-child(1) {
    padding-bottom: 12rem;
  }

  .tag {
    gap: 5px;
    padding: 0.35rem 0.5rem;
    font-size: 10px;
  }

  .tag .dot {
    width: 5px;
    height: 5px;
  }
}

@media (max-width: 720px) {
  /* main {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    position: initial;
  }
  .snap-container {
    height: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
  } 
    
  .snap-section {
   height: 100%;
   padding-bottom: 8rem;
   }
   .snap-section:nth-child(1) {
    padding-top: 2rem;
  }
  */

  main {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* @media (max-height: 1062px) {
  .title {
    font-size: clamp(1.8rem, 3vh + 1rem, 5rem);
  }
}

@media (max-height: 980px) and (max-width: 484px) {
  section {
    align-items: start;
    padding-top: 4rem;
  }
} */

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}


/*.contact-container{
    display: flex;
    justify-content: center;
    gap: 30px;

    border: 2px solid rgba(255,255,255,0.2);
    padding: 40px;
    border-radius: 12px;
    width: 70%;
    margin: auto;
    background: transparent;
}
.text{
  justify-content: center;
}*/






/*.footer-container {
  justify-content: center;
  align-items: center;
  width: 100%;
box-shadow: ;
}
